body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #f8f8f8;
    text-align: center;
  }
  
  .logo {
    height: 175px;
    top: 35px;
    left: 50px;
    position: absolute;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu li {
    display: inline-block;
    font-weight: bold;
    font-size: 38px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .headerimage {
    max-width: 100%;
    height: auto;
    opacity: 0.8 lightblue;
    border-bottom-left-radius: 45%;
  }

  header{
    position: relative;
  }

  .menu{
    position: absolute;
    top: 100px;
    left: 800px;
  }

  .navbar a:hover{
    background-color:aquamarine;
  }

